In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import f1_score,confusion_matrix
from ggplot import *

In [3]:
weather_data=pd.read_csv("./data/improved-dataset/turnstile_weather_v2.csv")
weather_data.head()

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,...,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,05-01-11,00:00:00,4388333,2911002,0,0,2011-05-01 00:00:00,0,6,...,30.22,0,55.9,3.5,0,30.258,55.98,7.86,40.700348,-73.887177
1,R003,05-01-11,04:00:00,4388333,2911002,0,0,2011-05-01 04:00:00,4,6,...,30.25,0,52.0,3.5,0,30.258,55.98,7.86,40.700348,-73.887177
2,R003,05-01-11,12:00:00,4388333,2911002,0,0,2011-05-01 12:00:00,12,6,...,30.28,0,62.1,6.9,0,30.258,55.98,7.86,40.700348,-73.887177
3,R003,05-01-11,16:00:00,4388333,2911002,0,0,2011-05-01 16:00:00,16,6,...,30.26,0,57.9,15.0,0,30.258,55.98,7.86,40.700348,-73.887177
4,R003,05-01-11,20:00:00,4388333,2911002,0,0,2011-05-01 20:00:00,20,6,...,30.28,0,52.0,10.4,0,30.258,55.98,7.86,40.700348,-73.887177

In [4]:
wp=weather_data.groupby(["rain","weekday"])
wp

Groupby object is similar to a python dict. They can be considered as key-value pairs. The keys are the column names that we tried to group. We can access the property ```groups``` to see this:

In [5]:
wp.groups.keys()

dict_keys([(0, 1), (1, 0), (0, 0), (1, 1)])

In [6]:
wp.groups[(0,1)]  # Return the row indexes that hour=0 and weekday=1

[5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 99,
 100,
 101,
 102,
 103,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 250,
 251,
 252,
 253,
 254,
 255,
 268,
 269,
 270,
 271,
 272,
 273,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 337,
 338,
 339,
 340,
 341,
 342,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 426,
 427,
 428,
 429,
 430,
 431,
 444,
 445,
 446,
 447,
 448,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 600,
 601,
 602,
 603,
 604,
 605,
 618,
 619,
 620,
 621,
 622,
 623,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 689,
 690,
 691,
 692,
 693,
 694,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 774,
 775,
 776,
 777,
 778,
 779,
 791,
 792,
 793,
 794,
 795,
 796,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 859,
 860,
 861,
 862,
 863,
 864,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 946,
 947,
 948,
 949,
 950,
 951,
 963,
 964,
 965,
 966,
 967,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1184,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1233,
 1234,
 1235,
 1236,
 1237,
 1238,
 1239,
 1240,
 1241,
 1242,
 1243,
 1244,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 1339,
 1340,
 1341,
 1342,
 1343,
 1344,
 1345,
 1346,
 1347,
 1348,
 1349,
 1350,
 1351,
 1352,
 1353,
 1354,
 1355,
 1356,
 1357,
 1358,
 1359,
 1360,
 1361,
 1362,
 1363,
 1364,
 1365,
 1366,
 1367,
 1368,
 1381,
 1382,
 1383,
 1384,
 1385,
 1386,
 1387,
 1388,
 1389,
 1390,
 1391,
 1392,
 1399,
 1400,
 1401,
 1402,
 1403,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1417,
 1418,
 1419,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 1426,
 1427,
 1428,
 1441,
 1442,
 1443,
 1444,
 1445,
 1446,
 1447,
 1448,
 1449,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1470,
 1525,
 1526,
 1527,
 1528,
 1529,
 1530,
 1531,
 1532,
 1533,
 1534,
 1535,
 1536,
 1537,
 1538,
 1539,
 1540,
 1541,
 1542,
 1543,
 1544,
 1545,
 1546,
 1547,
 1548,
 1549,
 1550,
 1551,
 1552,
 1553,
 1554,
 1567,
 1568,
 1569,
 1570,
 1571,
 1572,
 1573,
 1574,
 1575,
 1576,
 1577,
 1578,
 1585,
 1586,
 1587,
 1588,
 1589,
 1590,
 1591,
 1592,
 1593,
 1594,
 1595,
 1596,
 1603,
 1604,
 1605,
 1606,
 1607,
 1608,
 1609,
 1610,
 1611,
 1612,
 1613,
 1614,
 1627,
 1628,
 1629,
 1630,
 1631,
 1632,
 1633,
 1634,
 1635,
 1636,
 1637,
 1638,
 1639,
 1640,
 1641,
 1642,
 1643,
 1644,
 1645,
 1646,
 1647,
 1648,
 1649,
 1650,
 1651,
 1652,
 1653,
 1654,
 1655,
 1656,
 1711,
 1712,
 1713,
 1714,
 1715,
 1716,
 1717,
 1718,
 1719,
 1720,
 1721,
 1722,
 1723,
 1724,
 1725,
 1726,
 1727,
 1728,
 1729,
 1730,
 1731,
 1732,
 1733,
 1734,
 1735,
 1736,
 1737,
 1738,
 1739,
 1740,
 1753,
 1754,
 1755,
 1756,
 1757,
 1758,
 1759,
 1760,
 1761,
 1762,
 1763,
 1764,
 1770,
 1771,
 1772,
 1773,
 1774,
 1775,
 1776,
 1777,
 1778,
 1779,
 1780,
 1781,
 1788,
 1789,
 1790,
 1791,
 1792,
 1793,
 1794,
 1795,
 1796,
 1797,
 1798,
 1799,
 1811,
 1812,
 1813,
 1814,
 1815,
 1816,
 1817,
 1818,
 1819,
 1820,
 1821,
 1822,
 1823,
 1824,
 1825,
 1826,
 1827,
 1828,
 1829,
 1830,
 1831,
 1832,
 1833,
 1834,
 1835,
 1836,
 1837,
 1838,
 1839,
 1840,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1901,
 1902,
 1903,
 1904,
 1905,
 1906,
 1907,
 1908,
 1909,
 1910,
 1911,
 1912,
 ...]

Return a new dataframe with the number of entries of each ```(hour,weekday)``` pair

In [7]:
wc=wp.count()
wc

               UNIT  DATEn  TIMEn  ENTRIESn  EXITSn  ENTRIESn_hourly  \
rain weekday
0    0        10494  10494  10494     10494   10494            10494
     1        22570  22570  22570     22570   22570            22570
1    0         1685   1685   1685      1685    1685             1685
     1         7900   7900   7900      7900    7900             7900

              EXITSn_hourly  datetime   hour  day_week     ...       precipi  \
rain weekday                                               ...
0    0                10494     10494  10494     10494     ...         10494
     1                22570     22570  22570     22570     ...         22570
1    0                 1685      1685   1685      1685     ...          1685
     1                 7900      7900   7900      7900     ...          7900

              pressurei  tempi  wspdi  meanprecipi  meanpressurei  meantempi  \
rain weekday
0    0            10494  10494  10494        10494          10494      10494
     1            22570  22570  22570        22570          22570      22570
1    0             1685   1685   1685         1685           1685       1685
     1             7900   7900   7900         7900           7900       7900

              meanwspdi  weather_lat  weather_lon
rain weekday
0    0            10494        10494        10494
     1            22570        22570        22570
1    0             1685         1685         1685
     1             7900         7900         7900

[4 rows x 25 columns]

Return a new dataframe with the number of entries of each ```(hour,weekday)``` pair

In [8]:
ws=wp.sum()
ws

                  ENTRIESn        EXITSn  ENTRIESn_hourly  EXITSn_hourly  \
rain weekday
0    0        298984834876  211459197508         12866248        9873411
     1        632042699878  446726379260         48154668       34204586
1    0         44988365922   31424093005          1839365        1418899
     1        223481094095  157823082341         17600894       12569200

                hour  day_week       latitude       longitude  fog  precipi  \
rain weekday
0    0        106008     57886  427345.290348  -775947.220047    0     0.00
     1        226264     41242  919169.464195 -1668817.118119   71     0.26
1    0         17056      9778   68640.735706  -124574.892774  136    20.68
     1         79156     15020  321709.990592  -584143.355657  212   176.00

              pressurei      tempi     wspdi  meanprecipi  meanpressurei  \
rain weekday
0    0        314883.51   667373.0   59675.4         0.00      314883.51
     1        676940.00  1458797.4  157261.2         0.26      676940.00
1    0         50021.83   103120.7   11230.8        20.68       50021.83
     1        236391.95   462022.0   67299.4       176.00      236391.95

              meantempi  meanwspdi    weather_lat     weather_lon
rain weekday
0    0         667373.0    59675.4  427387.613682  -775929.320672
     1        1458797.4   157261.2  919257.283451 -1668779.768040
1    0         103120.7    11230.8   68645.304944  -124573.319676
     1         462022.0    67299.4  321741.953842  -584128.926690