In [48]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import f1_score,confusion_matrix
from ggplot import *

In [49]:
weather_data=pd.read_csv("./data/improved-dataset/turnstile_weather_v2.csv")
weather_data.head()

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,...,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,05-01-11,00:00:00,4388333,2911002,0,0,2011-05-01 00:00:00,0,6,...,30.22,0,55.9,3.5,0,30.258,55.98,7.86,40.700348,-73.887177
1,R003,05-01-11,04:00:00,4388333,2911002,0,0,2011-05-01 04:00:00,4,6,...,30.25,0,52.0,3.5,0,30.258,55.98,7.86,40.700348,-73.887177
2,R003,05-01-11,12:00:00,4388333,2911002,0,0,2011-05-01 12:00:00,12,6,...,30.28,0,62.1,6.9,0,30.258,55.98,7.86,40.700348,-73.887177
3,R003,05-01-11,16:00:00,4388333,2911002,0,0,2011-05-01 16:00:00,16,6,...,30.26,0,57.9,15.0,0,30.258,55.98,7.86,40.700348,-73.887177
4,R003,05-01-11,20:00:00,4388333,2911002,0,0,2011-05-01 20:00:00,20,6,...,30.28,0,52.0,10.4,0,30.258,55.98,7.86,40.700348,-73.887177

In [50]:
wp=weather_data.groupby(["hour","weekday"])
wp

Groupby object is similar to a python dict. They can be considered as key-value pairs. The keys are the column names that we tried to group. We can access the property ```groups``` to see this:

In [51]:
wp.groups.keys()

dict_keys([(0, 1), (0, 0), (12, 1), (12, 0), (8, 1), (8, 0), (20, 1), (20, 0), (16, 1), (16, 0), (4, 1), (4, 0)])

In [52]:
wp.groups[(0,1)]  # Return the row indexes that hour=0 and weekday=1

[5,
 11,
 16,
 22,
 27,
 43,
 49,
 54,
 60,
 66,
 82,
 88,
 94,
 99,
 104,
 120,
 126,
 132,
 135,
 141,
 156,
 162,
 174,
 180,
 186,
 190,
 196,
 212,
 218,
 224,
 229,
 234,
 250,
 256,
 262,
 268,
 274,
 290,
 296,
 302,
 308,
 314,
 331,
 337,
 348,
 354,
 360,
 365,
 371,
 387,
 392,
 397,
 402,
 408,
 426,
 432,
 438,
 444,
 449,
 465,
 471,
 477,
 483,
 488,
 504,
 509,
 521,
 528,
 534,
 540,
 558,
 564,
 570,
 576,
 582,
 600,
 606,
 612,
 618,
 624,
 642,
 648,
 654,
 659,
 665,
 683,
 689,
 699,
 704,
 709,
 715,
 720,
 735,
 740,
 746,
 752,
 757,
 774,
 780,
 785,
 791,
 797,
 814,
 820,
 826,
 832,
 838,
 853,
 859,
 870,
 876,
 882,
 887,
 892,
 908,
 914,
 920,
 925,
 930,
 946,
 952,
 958,
 963,
 968,
 983,
 989,
 995,
 1001,
 1006,
 1022,
 1028,
 1039,
 1045,
 1051,
 1057,
 1062,
 1078,
 1084,
 1090,
 1094,
 1100,
 1117,
 1123,
 1129,
 1135,
 1141,
 1157,
 1163,
 1169,
 1174,
 1179,
 1197,
 1203,
 1215,
 1221,
 1227,
 1233,
 1239,
 1256,
 1262,
 1268,
 1274,
 1280,
 1297,
 1303,
 1309,
 1315,
 1321,
 1339,
 1345,
 1351,
 1357,
 1363,
 1381,
 1387,
 1399,
 1405,
 1411,
 1417,
 1423,
 1441,
 1447,
 1453,
 1459,
 1465,
 1483,
 1489,
 1495,
 1501,
 1507,
 1525,
 1531,
 1537,
 1543,
 1549,
 1567,
 1573,
 1585,
 1591,
 1597,
 1603,
 1609,
 1627,
 1633,
 1639,
 1645,
 1651,
 1669,
 1675,
 1681,
 1687,
 1693,
 1711,
 1717,
 1723,
 1729,
 1735,
 1753,
 1759,
 1770,
 1776,
 1782,
 1788,
 1794,
 1811,
 1817,
 1823,
 1829,
 1835,
 1853,
 1859,
 1865,
 1871,
 1877,
 1895,
 1901,
 1907,
 1913,
 1919,
 1937,
 1943,
 1955,
 1961,
 1967,
 1973,
 1979,
 1997,
 2003,
 2009,
 2015,
 2021,
 2039,
 2045,
 2051,
 2057,
 2063,
 2081,
 2087,
 2093,
 2099,
 2105,
 2123,
 2129,
 2141,
 2147,
 2153,
 2159,
 2165,
 2182,
 2188,
 2194,
 2200,
 2206,
 2224,
 2230,
 2236,
 2242,
 2248,
 2266,
 2272,
 2278,
 2284,
 2290,
 2308,
 2314,
 2326,
 2332,
 2338,
 2344,
 2350,
 2368,
 2374,
 2380,
 2386,
 2392,
 2410,
 2416,
 2422,
 2428,
 2434,
 2452,
 2458,
 2464,
 2470,
 2476,
 2494,
 2500,
 2512,
 2518,
 2524,
 2530,
 2536,
 2554,
 2560,
 2566,
 2572,
 2578,
 2596,
 2602,
 2608,
 2614,
 2620,
 2638,
 2644,
 2650,
 2656,
 2662,
 2680,
 2686,
 2698,
 2704,
 2710,
 2716,
 2722,
 2740,
 2746,
 2752,
 2758,
 2764,
 2781,
 2787,
 2793,
 2799,
 2805,
 2823,
 2828,
 2834,
 2840,
 2846,
 2864,
 2870,
 2882,
 2888,
 2894,
 2900,
 2906,
 2924,
 2930,
 2936,
 2942,
 2948,
 2966,
 2972,
 2978,
 2984,
 2990,
 3008,
 3014,
 3020,
 3026,
 3032,
 3050,
 3056,
 3068,
 3074,
 3080,
 3086,
 3092,
 3110,
 3116,
 3122,
 3128,
 3134,
 3152,
 3158,
 3164,
 3170,
 3176,
 3194,
 3200,
 3206,
 3212,
 3218,
 3236,
 3242,
 3254,
 3260,
 3266,
 3272,
 3278,
 3296,
 3302,
 3308,
 3314,
 3319,
 3337,
 3343,
 3349,
 3355,
 3361,
 3379,
 3385,
 3391,
 3397,
 3403,
 3421,
 3427,
 3439,
 3445,
 3451,
 3457,
 3463,
 3481,
 3487,
 3493,
 3499,
 3505,
 3523,
 3529,
 3535,
 3541,
 3547,
 3565,
 3571,
 3577,
 3583,
 3589,
 3607,
 3613,
 3625,
 3631,
 3637,
 3643,
 3649,
 3667,
 3673,
 3679,
 3685,
 3691,
 3709,
 3715,
 3721,
 3727,
 3733,
 3751,
 3757,
 3763,
 3769,
 3775,
 3793,
 3799,
 3811,
 3817,
 3823,
 3829,
 3835,
 3853,
 3859,
 3865,
 3871,
 3877,
 3895,
 3901,
 3907,
 3913,
 3919,
 3937,
 3943,
 3949,
 3955,
 3961,
 3979,
 3985,
 3997,
 4003,
 4009,
 4015,
 4021,
 4039,
 4045,
 4051,
 4057,
 4063,
 4081,
 4087,
 4093,
 4099,
 4105,
 4123,
 4129,
 4135,
 4141,
 4147,
 4165,
 4171,
 4183,
 4189,
 4195,
 4201,
 4207,
 4225,
 4231,
 4237,
 4243,
 4249,
 4267,
 4273,
 4279,
 4285,
 4291,
 4309,
 4315,
 4321,
 4327,
 4333,
 4351,
 4357,
 4369,
 4375,
 4381,
 4387,
 4393,
 4410,
 4416,
 4422,
 4428,
 4434,
 4452,
 4458,
 4464,
 4470,
 4476,
 4494,
 4500,
 4506,
 4512,
 4518,
 4536,
 4542,
 4554,
 4560,
 4566,
 4572,
 4578,
 4596,
 4602,
 4608,
 4614,
 4620,
 4638,
 4644,
 4650,
 4656,
 4662,
 4680,
 4686,
 4692,
 4698,
 4704,
 4722,
 4728,
 4740,
 4746,
 4752,
 4757,
 4763,
 4779,
 4785,
 4791,
 4796,
 4802,
 4816,
 4822,
 4828,
 4834,
 4840,
 4856,
 4862,
 4868,
 4874,
 4880,
 4892,
 4898,
 4910,
 4916,
 4922,
 4928,
 4934,
 4951,
 4957,
 4963,
 4969,
 4975,
 4993,
 4999,
 5005,
 5011,
 5017,
 5034,
 5040,
 5046,
 5052,
 5058,
 5076,
 5082,
 5093,
 5099,
 5105,
 5111,
 5117,
 5133,
 5139,
 5145,
 5150,
 5156,
 5173,
 5179,
 5185,
 5191,
 5197,
 5214,
 5220,
 5226,
 5232,
 5238,
 5253,
 5259,
 5271,
 5277,
 5283,
 5289,
 5295,
 5313,
 5319,
 5325,
 5330,
 5336,
 5352,
 5358,
 5364,
 5370,
 5376,
 5394,
 5400,
 5406,
 5412,
 5418,
 5436,
 5442,
 5454,
 5460,
 5466,
 5472,
 5477,
 5494,
 5500,
 5509,
 5515,
 5531,
 5542,
 5548,
 5554,
 5571,
 5577,
 5582,
 5587,
 5593,
 5611,
 5617,
 5629,
 5635,
 5641,
 5646,
 5651,
 5667,
 5672,
 5678,
 5683,
 5689,
 5705,
 5711,
 5717,
 5722,
 5728,
 5745,
 5751,
 5757,
 5763,
 5768,
 5783,
 5794,
 5800,
 5806,
 5812,
 5818,
 5836,
 5842,
 5848,
 5854,
 5859,
 5877,
 5883,
 5889,
 5895,
 5901,
 5919,
 5925,
 5931,
 5937,
 5943,
 5961,
 5967,
 5979,
 5985,
 5991,
 5997,
 6003,
 6021,
 6027,
 6033,
 6039,
 6045,
 6063,
 6069,
 6075,
 6081,
 6087,
 6105,
 6111,
 6117,
 6123,
 6129,
 6147,
 6153,
 6164,
 6170,
 6176,
 6182,
 6188,
 6205,
 6211,
 6216,
 6222,
 6228,
 6245,
 6251,
 6257,
 6263,
 6269,
 6287,
 6293,
 6299,
 6305,
 6311,
 6327,
 6333,
 6345,
 6351,
 6357,
 6363,
 6369,
 6387,
 6393,
 6399,
 6405,
 6411,
 6429,
 6435,
 6441,
 6447,
 6453,
 6471,
 6477,
 6483,
 6489,
 6495,
 6513,
 6519,
 6531,
 6537,
 6543,
 6549,
 6555,
 6573,
 6579,
 6585,
 6591,
 6597,
 6615,
 6621,
 6627,
 6633,
 6639,
 6657,
 6663,
 6669,
 6675,
 6681,
 6699,
 6705,
 6717,
 6723,
 6729,
 6735,
 6741,
 6759,
 6765,
 6771,
 6777,
 6783,
 6801,
 6807,
 6813,
 6819,
 6825,
 6843,
 6849,
 6855,
 6861,
 6867,
 6885,
 6891,
 6903,
 6909,
 6915,
 6921,
 6927,
 6945,
 6951,
 6957,
 6963,
 6969,
 6987,
 6993,
 6999,
 7005,
 7011,
 7029,
 7035,
 7041,
 7047,
 7053,
 7071,
 7077,
 7089,
 7095,
 7101,
 7106,
 7112,
 7130,
 7136,
 7142,
 7148,
 7154,
 7172,
 7177,
 7183,
 7189,
 7195,
 7213,
 7219,
 7225,
 7231,
 7237,
 7255,
 7261,
 7273,
 7279,
 7285,
 7291,
 7297,
 7315,
 7321,
 7327,
 7333,
 7339,
 7357,
 7363,
 7369,
 7375,
 7381,
 7399,
 7405,
 7411,
 7417,
 7423,
 7441,
 7447,
 7459,
 7465,
 7471,
 7476,
 7482,
 7498,
 7504,
 7510,
 7515,
 7520,
 7537,
 7543,
 7549,
 7555,
 7560,
 7576,
 7580,
 7585,
 7591,
 7597,
 7613,
 7619,
 7631,
 7637,
 7643,
 7649,
 7655,
 7672,
 7678,
 7684,
 7690,
 7696,
 7714,
 7720,
 7726,
 7732,
 7738,
 7755,
 7761,
 7767,
 7773,
 7779,
 7797,
 7803,
 7815,
 7821,
 7827,
 7833,
 7839,
 7857,
 7863,
 7869,
 7875,
 7881,
 7898,
 7904,
 7910,
 7915,
 7921,
 7939,
 7945,
 7951,
 7957,
 7963,
 7981,
 7987,
 7999,
 8005,
 8011,
 8017,
 8023,
 8041,
 8047,
 8053,
 8059,
 8065,
 8083,
 8089,
 8095,
 8101,
 8107,
 8125,
 8131,
 8137,
 8143,
 8149,
 8167,
 8173,
 8185,
 8191,
 8197,
 8203,
 8209,
 8226,
 8232,
 8238,
 8244,
 8250,
 8267,
 8273,
 8279,
 8285,
 ...]

Return a new dataframe with the number of entries of each ```(hour,weekday)``` pair

In [53]:
wc=wp.count()
wc

              UNIT  DATEn  TIMEn  ENTRIESn  EXITSn  ENTRIESn_hourly  \
hour weekday
0    0        2142   2142   2142      2142    2142             2142
     1        5236   5236   5236      5236    5236             5236
4    0        2140   2140   2140      2140    2140             2140
     1        5241   5241   5241      5241    5241             5241
8    0        1487   1487   1487      1487    1487             1487
     1        4427   4427   4427      4427    4427             4427
12   0        2132   2132   2132      2132    2132             2132
     1        5203   5203   5203      5203    5203             5203
16   0        2134   2134   2134      2134    2134             2134
     1        5164   5164   5164      5164    5164             5164
20   0        2144   2144   2144      2144    2144             2144
     1        5199   5199   5199      5199    5199             5199

              EXITSn_hourly  datetime  day_week  station     ...       \
hour weekday                                                 ...
0    0                 2142      2142      2142     2142     ...
     1                 5236      5236      5236     5236     ...
4    0                 2140      2140      2140     2140     ...
     1                 5241      5241      5241     5241     ...
8    0                 1487      1487      1487     1487     ...
     1                 4427      4427      4427     4427     ...
12   0                 2132      2132      2132     2132     ...
     1                 5203      5203      5203     5203     ...
16   0                 2134      2134      2134     2134     ...
     1                 5164      5164      5164     5164     ...
20   0                 2144      2144      2144     2144     ...
     1                 5199      5199      5199     5199     ...

              pressurei  rain  tempi  wspdi  meanprecipi  meanpressurei  \
hour weekday
0    0             2142  2142   2142   2142         2142           2142
     1             5236  5236   5236   5236         5236           5236
4    0             2140  2140   2140   2140         2140           2140
     1             5241  5241   5241   5241         5241           5241
8    0             1487  1487   1487   1487         1487           1487
     1             4427  4427   4427   4427         4427           4427
12   0             2132  2132   2132   2132         2132           2132
     1             5203  5203   5203   5203         5203           5203
16   0             2134  2134   2134   2134         2134           2134
     1             5164  5164   5164   5164         5164           5164
20   0             2144  2144   2144   2144         2144           2144
     1             5199  5199   5199   5199         5199           5199

              meantempi  meanwspdi  weather_lat  weather_lon
hour weekday
0    0             2142       2142         2142         2142
     1             5236       5236         5236         5236
4    0             2140       2140         2140         2140
     1             5241       5241         5241         5241
8    0             1487       1487         1487         1487
     1             4427       4427         4427         4427
12   0             2132       2132         2132         2132
     1             5203       5203         5203         5203
16   0             2134       2134         2134         2134
     1             5164       5164         5164         5164
20   0             2144       2144         2144         2144
     1             5199       5199         5199         5199

[12 rows x 25 columns]

Return a new dataframe with the number of entries of each ```(hour,weekday)``` pair

In [54]:
ws=wp.sum()
ws

                  ENTRIESn        EXITSn  ENTRIESn_hourly  EXITSn_hourly  \
hour weekday
0    0         63712687826   44939043396          3161210        2537164
     1        153149943567  108048090886          7191957        5722665
4    0         62392039290   44166326953           727273         734428
     1        167128298182  117943547302          1573515        1479628
8    0         30122489421   21296628669           363408         274662
     1         90483903351   64317526813          4835175        2845975
12   0         62821234828   44275300633          3047650        2144367
     1        149116940556  105337208080         19037666       14110316
16   0         62090823955   43845420034          3611638        2702315
     1        146605495421  103525573447         13221402        8920160
20   0         62833925478   44360570828          3794434        2899374
     1        149039212896  105377515073         19895847       13695042

              day_week       latitude      longitude  fog  precipi  pressurei  \
hour weekday
0    0           11902   87231.063258 -158379.460616    0     0.00   64171.22
     1            9752  213231.965466 -387148.771307    0    46.35  157011.83
4    0           11887   87149.877929 -158231.085448    0    10.78   64104.73
     1            9753  213435.880640 -387518.473888   24    36.28  157107.19
8    0            8264   60562.380782 -109957.035822  113     9.90   44597.53
     1            7747  180296.700940 -327342.488095   23    47.39  132836.18
12   0           11845   86824.031667 -157639.726688   23     0.00   63890.81
     1            9700  211888.799499 -384709.742100    0     8.71  155994.05
16   0           11854   86905.656130 -157787.722595    0     0.00   63887.42
     1            9635  210300.517850 -381827.453760  212    37.29  154624.73
20   0           11912   87313.016288 -158527.081652    0     0.00   64253.63
     1            9675  211725.590392 -384413.544626   24     0.24  155757.97

              rain     tempi    wspdi  meanprecipi  meanpressurei  \
hour weekday
0    0         295  129012.7   9085.7     3.529000   64177.229333
     1        1349  313620.2  30492.7    30.022000  156949.264167
4    0         297  124710.4   8726.6     3.545000   64116.531333
     1        1353  307984.3  27618.8    30.071500  157099.596833
8    0         203   92620.6   7051.4     2.971000   44561.744333
     1        1174  271296.1  34833.4    27.033667  132699.947167
12   0         296  146573.1  13346.7     3.545000   63877.518500
     1        1347  351273.7  44508.9    29.870500  155958.075333
16   0         297  144261.2  18152.8     3.545000   63935.821333
     1        1338  349741.3  47315.2    29.578000  154786.471000
20   0         297  133315.7  14543.0     3.545000   64236.495167
     1        1339  326903.8  39791.6    29.684333  155838.595500

                  meantempi     meanwspdi    weather_lat    weather_lon
hour weekday
0    0        135503.341667  12522.123333   87239.766206 -158375.801147
     1        329963.468333  38481.118333  213253.350657 -387139.695161
4    0        135335.941667  12516.253333   87158.616124 -158227.501251
     1        330257.781667  38569.438333  213457.281137 -387509.368133
8    0         94054.175000   8360.895000   60565.804586 -109955.726165
     1        279290.253333  32820.870000  180311.488271 -327336.039663
12   0        134876.813333  12477.505000   86832.662961 -157636.090690
     1        327963.098333  38347.921667  211909.492590 -384700.571820
16   0        135050.745000  12487.290000   86914.305085 -157784.114143
     1        325649.420000  38054.253333  210321.074720 -381818.510432
20   0        135672.683333  12542.133333   87321.763664 -158523.406952
     1        327695.378333  38286.998333  211746.549918 -384404.509521